{
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 2020,
		"sourceType": "module",
	},
	"extends": ["plugin:vue/vue3-recommended", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"camelcase": "error",
		"spaced-comment": "error",
		"quotes": ["error", "single"],
		"no-duplicate-imports": "error",
		"no-console": "warn",
		"react/react-in-jsx-scope": "warn",
		"@typescript-eslint/strict-boolean-expressions": "warn",
		"@typescript-eslint/consistent-type-assertions": "warn",
		"@typescript-eslint/no-misused-promises": "warn",
		"@typescript-eslint/no-extraneous-class": "warn",
		"@typescript-eslint/no-floating-promises": "warn",
		"@typescript-eslint/no-unused-vars": "warn",
		"import/no-cycle": [2, { "maxDepth": "∞" }],
	},
}
